/* 1 */
@media print {
    .tm-main-content {
        margin-left: 0;
        padding-left: 0;
    }

    #about,
    nav {
        display: none;
    }

    section:not(:first-of-type) {
        display: none;
    }

    .tm-banner {
        height: 190px;
        padding: unset;
    }

    .pad {
        padding: 0 0 0 1.25em;
    }

    .tm-section-title {
        color: blue;
    }

    .flex-2-col {
        display: block;
    }

    .tm-team-description-container {
        max-width: none;
    }

    .flex-item:last-child {
        text-align: center;
    }
}

@media screen {
    /* 2 */
    #about img {
        border-radius: 50%;
    }

    li.box.box-bg:hover {
        background-color: #31b0d5;
    }

    li.box.box-bg h2:hover {
        color: white;
        font-weight: bold;
    }
    /* 3 */
    p:first-letter {
        color: #76cdd7;
        font-size: 30px;
    }
    /* 4 */
    .tm-content-box.flex-2-col,
    .tm-banner,
    .boxes.gallery-container,
    .heading.tm-content-box,
    #ideas,
    #contact,
    nav {
        box-shadow: 0 0 10px black;
    }

    /* 5 */
    .tm-content-box {
        position: relative;
    }
    .tm-content-box:not(:empty)::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 26px solid #2aabd2;
        border-right: 130px solid transparent;
        z-index: 1;
    }
    .pad.flex-item.tm-team-description-container+div.tm-content-box.flex-2-col {
        display: none;
    }

    /* 6 */
    #tmCarousel h2 {
        color: #dcdcdc;
        letter-spacing: 5px;
    }

    /* 7 */
    h2+p {
        font-style: italic;
    }

    /* 8 */
    p:not(.tm-banner-text) {
        line-height: 32px;
        text-indent: 16px;
    }

    /* 9 */
    ol li a:visited {
        color: silver;
    }

    ol li a:hover {
        text-decoration: none;
        border-bottom: thick double #76cdd7;
        color: #76cdd7;
    }

    .text:after {
        content: "New";
        color: red;
        font-size: 10px;
        vertical-align: top;
    }

    /* 10 */
    .blocks li:nth-child(odd) {
        background-color: rgb(242, 242, 242);
    }

    /* 11 */
    nav.tm-main-nav ul li {
        border-bottom: dotted silver;
    }

    nav.tm-main-nav ul li:last-child {
        border-bottom: none;
    }

    /* 12 */
    input[type="text"] {
        color: red;
    }

    .mandatory-field::after {
        content: "*";
        color: red;
        font-weight: bold;
    }

    button[type="submit"] {
        color: red;
    }

    button[type="submit"]:hover {
        background-color: #76cdd7;
    }
}
